<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Brainwave</title>
  </head>
  <body class="body index-page">
    <section id="logoContainer">
      <h1>BR<span id="ai">AI</span>NWAVE</h1>
    </section>

    <h2>Create your own personzlied AI assisted To-do list!</h2>
    <a class="login" href="/login"> Login</a>
    <a class="signup" href="/signup"> Signup</a>
  </body>
</html>
